*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*--header---*/
.header{
    background: var(--primary-color);
}

.navbar{
    background-color: black;
}

ul {
   list-style: none;
   
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    border: none;
    background: none;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu{
    display: flex;
    gap: 50px;
    
}
.navbar .nav-logo .logo-text{
    color: white;
}

.navbar .nav-menu .nav-link{
    color: white;
}

.button {
    cursor: pointer;
    border: none;
    background: none;
}
.nav .logo span{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav .logo i{
    font-size: 1.5rem;
    color: var(--white-color);
}

#menu-toggle {
  display: none;
}

/*--Navigation for mobile devices---*/
@media screen and (max-width: 1150px){
    .nav menu{
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        width: 80%;
        height: 100%;
        padding: 7.5rem 3.5rem 0;
        border-left: 2px solid var(--black-border);
        transition: right .4s;
    }
}
.nav list{
 display: flex;   
 flex-direction: column;
 row-gap: 4rem;
}

.nav link{
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav link:hover{
    color: var(--first-color);
}

/*Responsive media query */
@media screen and (max-width:900px) {
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: white;
    }

    .navbar .nav-menu .nav-link{
        color: black;
        display: block;
        font-size: medium;
    }

    .navbar :where(#menu-close-buttom, #menu-open-button) {
       font-size: var(--font-sixe-1); 
    }

    .navbar #menu-close-button {
      position: absolute;
      right: 30px;
      top: 30px;
    }
}

/* Buttons default (mobile) */
#menu-open-button,
#menu-close-button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

#menu-open-button {
  color: white;
}

#menu-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
}

/* Desktop view: show menu, hide buttons */
@media screen and (min-width: 768px) {
  #menu-open-button,
  #menu-close-button {
    display: none;
  }

  .nav-menu {
    display: flex !important;
    position: static;
    background: none;
    border: none;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0;
  }

  .nav-item {
    display: inline;
  }
}





