/*--header---*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    display: flex;
    align-items: center;
    column-gap: 25rem;
}

.nav .logo span{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav .logo i{
    font-size: 1.5rem;
    color: var(--white-color);
}

#menu-toggle {
  display: none;
}
