/*--header---*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    display: flex;
    align-items: center;
    column-gap: 25rem;
}

.nav .logo span{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav .logo i{
    font-size: 1.5rem;
    color: var(--white-color);
}

#menu-toggle {
  display: none;
}

/*--Navigation for mobile devices---*/
@media screen and (max-width: 1150px){
    .nav menu{
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        width: 80%;
        height: 100%;
        padding: 7.5rem 3.5rem 0;
        border-left: 2px solid var(--black-border);
    }
}